<div class="container mt-3">
  <div class="rpw">
    <div class="col text-center">
      <img
        src="../img/about.jpeg"
        alt="Ibrahim El Gibran"
        class="img-thumbnail rounded-circle"
        width="200"
      />
      <h1 class="display-4">Ibrahim El Gibran</h1>
      <p class="lead">Lecturer | Programming</p>
    </div>
  </div>
</div>
